html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .nav-wrapper{
    background-color: #E66760;
  }
  .navbar{
    width: 100%;
    background-color: #E66760;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    margin: auto;
  }

  .navbar img{
    width: 100px;
    vertical-align: center;
  }

  .nav-links{
    list-style: none;
    display: flex;
  }

  .nav-links a{
    display: flex;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 25px;
  }

  .wrapper{
      display:grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "main-content"
      "footer"
  }

 

  .main-content{
      grid-area: main-content;
      display: grid;
      grid-template-rows: 500px;
      grid-template-areas:
      "cards-section";

  }

  .card-section{
      grid-area: card-section;
  }

  .footer{
      grid-area: footer;
  }
