.navbar{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    ". nav-links form-grid";
    background-color: #232f3e;
}


.create-account-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "tagline create";
}
.tagline{
    justify-self: end;
    align-self: center;
    font-size: 20px;
    margin-bottom:  0!important;
}

span .markdown{
    color: red;
}
.nav-links{
    grid-column: 1/2;
   list-style-type:none ;
}
label{
    color: white;
    margin: 0 10px;
    margin: 0 10px;
    padding: 5px 0;
}
.submit-button{
 margin: 10px 10px;
}
.create-btn{
    margin: 5px 0;
}
.input-form{
display: grid;
height: 100px;
width: 100px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto auto;
grid-template-areas:
"label username label password",
"submit-btn";

}

input {
    width: 120px;
    height: 35px;
    margin: 0 10px;
    margin: 0 10px;
    padding: 5px 0;
  }
 